h1{
    color: #7252B3;
    font-size: 160%;
    text-align: center;
    margin-top: 2%;
}

#adoteanimal{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    margin-top: 3%;
}
