@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');

/* icones do cabeçalho*/
header .material-symbols-outlined {
    font-size: 37px;
}

header {
    background-color: #A0C8C3;
}

/* titulo do cabeçalho*/
header h1 {
    font-size: 155%;
    color: #000;
    font-family: 'Open Sans';
}

#rodape {
    background-color: #A0C8C3;
    margin-top: 5%;

}

#logo {
    width: 30px;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Cinzel', serif;
    font-size: 125%;
}

.botao-login {
    color: #000;
    background-color: #EDEDED;
    padding: 7px 13px;
    border-radius: 20px;
}

#logo-logo {
    font-size: 120%;
    color: #282828;
    text-align: center;
}

.titulo {
    font-size: 160%;
    color: #282828;
    text-align: center;
    margin-top: 2%;
}

#scroller-animais {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.flex-scroller-btn-next,
.flex-scroller-btn-back {
    background: none;
    color: #000;
    font-size: 155px;
    font-family: 'Cinzel', serif;
}

.flex-scroller-btn-back {
    left: -70px;
}

.flex-scroller-btn-next {
    right: -70px;
}

.botao-ver-mais {
    color: #000;
    background-color: #A0C8C3;
    padding: 3px 10px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;


}

#link-instrucoes {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    margin-top: 3%;
}

.texto {
    flex-basis: 300px;
}

#parcerias {
    margin: auto;
    width: 100%;
    max-width: 900px;
    margin-top: 5%;
}

#porte {
    font-size: 20px;
    margin: auto;
    color: #282828;
    width: 100%;
    max-width: 1200px;

}

#link-denuncias {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    margin-top: 3%;
}

#link-dogsitter {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    margin-top: 3%;

}

#link-doarumpet {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    margin-top: 3%;
}

#instruções {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    margin-top: 3%;
}

.seta {
    background: none;
    color: #000;
    font-size: 155px;
    font-family: 'Cinzel', serif;
}

.img-pet {
    width: 400px;
    height: 250px;
    object-fit: contain;
    margin: auto;
}

#pet {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.card p {
    font-size: 120%;
}

a.card p {
    color: #282828;
}

.dogs{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
}

.dogs a {
text-decoration: none;
color: #000;
} 

a.dogs p {
    color: #282828;
    
}

.dogs p {
    font-size: 120%;
}

.flex-scroller a{
    color:#000;
}

.instrucoes{
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

.maps{
    height: 40px;

}

#cabecalhodireito{
    display: flex;
    flex-direction: row;
    align-items: center;
}

